/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "blueprint/liquid";

#container {
    @include container;
    font-family:sans-serif;
    position:relative;
    min-height:350px;
}

input {
    border: solid 1px #ddd;
}

@mixin center-widget {
    width: 50%;
    margin:auto;
}

@mixin widget-background {
    border: solid 1px #ddd;
    background: #eee;
    padding:8px;
}

.connect-widget {
    @include center-widget;
    @include widget-background;
    height: 300px;
}

#log {
    position:absolute;
    top:-1px;
    right:0px;
    border: solid 1px #eee;
    background:white;
    width:230px;
    min-height:20px;
    max-height:180px;
    overflow:auto;
    font-size:0.8em;
    font-family:monospace;
    div {
        padding:5px;
    }
}
